.group {
  position: relative;
  margin-bottom: 30px;
}
.group > label {
  padding: 0 0.2em;
  position: absolute;
  top: -0.7em;
  left: 1em;
  background-color: white;
  color: #707481;
  text-align: center;
  font-family: "Roboto";
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 146.484%;
}
@media (min-width: 640px) {
  .group > label {
    font-size: 14px;
  }
}
.group > input {
  padding: 0.8em;
  border-radius: 0.5em;
  border: 1px solid #E3E4E8;
  outline: none;
  color: #707481;
  tfont-family: "Bebas Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 146.484%;
  letter-spacing: 1.28px;
}
.group__error {
  font-size: 12px;
  color: #FF9242;
  text-align: center;
}

.add-button {
  height: 30px;
  width: 120px;
  text-align: center;
  border-radius: 24px;
  background-color: #FF9242;
  color: #fff;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 1.28px;
  margin-bottom: 15px;
}
.add-button:hover {
  background-color: #2A2B2A;
}

.remove-button {
  padding-left: 10px;
}
.remove-button:hover {
  background-color: #2A2B2A;
}

.formelement__container {
  margin-bottom: 30px;
}
.formelement__container-main {
  display: grid;
  justify-items: center;
  width: 100%;
  gap: 16px 40px;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
}
@media (min-width: 640px) {
  .formelement__container-main {
    gap: 16px 40px;
    justify-items: start;
  }
}
.formelement__button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.formelement__button-select {
  all: unset;
  outline: revert;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background-color: #FFF;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #E3E4E8;
  color: #707481;
  tfont-family: "Bebas Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 146.484%;
  letter-spacing: 1.28px;
  color: #2A2B2A;
  text-transform: uppercase;
}
.formelement__button-select--active {
  background-color: #2A2B2A;
  color: #fff;
}
.formelement__button {
  all: unset;
  outline: revert;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background-color: #4A7FE0;
  width: 170px;
  height: 30px;
  color: #FFF;
  border-radius: 10px;
  font-family: "Bebas Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 146.484%;
  letter-spacing: 1.28px;
}
.formelement__button:hover {
  background-color: #2A2B2A;
}
.formelement__button--is-disabled {
  cursor: none;
  opacity: 0.8;
}
.formelement__edit-buttons {
  display: flex;
  gap: 60px;
  justify-content: center;
}
.formelement__button-save {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF9242;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  color: #FFF;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 1.28px;
}
.formelement__button-save:hover {
  background-color: #2A2B2A;
}
.formelement__button-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4A7FE0;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  color: #FFF;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 1.28px;
}
.formelement__button-back:hover {
  background-color: #2A2B2A;
}/*# sourceMappingURL=FormElement.module.css.map */