@import './../../../styles/';

.formrecord {
  padding-top: 25px;
  padding-bottom: 64px;

  &__header {
    @include typographyCarHeader;
    margin-bottom: 30px;
  }

  @include onTablet() {
    padding-bottom: 80px;
  }


}
