@import './../../styles/';

.formelement {
  &__container {
    margin-bottom: 30px;
    &-main {

    @include catalogGrid;
  }
}

&__button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

&__button-select {
  all: unset;
  outline: revert;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background-color: #FFF;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid $line-color;
  @include typographyFormInput;
  color: $main-color;
  text-transform: uppercase;

  &--active {
    background-color: $main-color;
    color: #fff;
  }
}
&__button {
  all: unset;
  outline: revert;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background-color: $button-collor;
  width: 170px;
  height: 30px;
  color: #FFF;
  border-radius: 10px;
  font-family: "Bebas Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 146.484%;
  letter-spacing: 1.28px;

}
}