@import './styles';

.app {
  margin: 0 auto;
  background-color: #FFF;
  min-width: 375px;

  &__main {
    padding-inline: $mobile-inline-padding;
    max-width: 1280px;
    min-height: 100vh;
    background-color: #FFF;

    @include onTablet {
      padding-inline: $tablet-inline-padding;
    }
    
    @include onDesktop {
      padding-inline: $pc-inline-padding;
    }
  }
}
