@import './styles';

.app {
  margin: 0 auto;
  background-color: #FFF;

  &__main {
    max-width: 1280px;
    padding-inline: $pc-inline-padding;
    min-height: 100vh;
    background-color: #FFF;
  }
}
