@import './styles';

@import './styles/_normalize';
@import './../src/styles/mixins/typography';
:root{
  background-color: #F4F4F4;
}
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}