@import './../mixins/responsive';

@mixin catalogGrid {
  display: grid;
  justify-items: center;
  width: 100%;
  gap: 16px 40px;
  
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));

  @include onTablet {
    gap: 16px 40px;
    justify-items: start;
  }
}


