@import './responsive';
@import './../variables/colors';

@mixin typographyCarHeader {
  font-family: "Bebas Neue", sans-serif;
  color: $main-color;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;

  @include onTablet {
    font-size: 30px;
    line-height: 110%;
  }
}

@mixin typographyCarOverview {
  font-family: "Bebas Neue", sans-serif;
  color: $main-color;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;

  @include onTablet {
    font-size: 26px;
  }
}

@mixin typographyCarInformation {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $line-text-color;
  font-size: 16px;
  line-height: 146.5%;
  letter-spacing: 1.28px;

  @include onTablet {
    font-weight: 18px;
  }
}

@mixin typographyCarDetailsInformation {
  font-family: "Roboto", sans-serif;
  color: $line-text-color;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 125%;
  
  @include onTablet {
    font-size: 16px;
  }
}

@mixin typographyFormLabel {
  color: $line-text-color;
  text-align: center;
  font-family: 'Roboto';
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 146.484%;
  @include onTablet {
    font-size: 14px;
  }
}

@mixin typographyFormInput {
  color: $line-text-color;
  tfont-family: "Bebas Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 146.484%;
  letter-spacing: 1.28px;
}

@mixin typographyFormHeaderh3 {
  color: #2A2B2A;
  font-family: "Bebas Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.484%;
  letter-spacing: 1.6px;
  }

@mixin typographyFormHeaderh4 {
  color: #2A2B2A;
  font-family: "Bebas Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.484%;
  letter-spacing: 1.6px;
  }

@mixin typographyFormHeaderh5 {
  color: #2A2B2A;
  font-family: "Bebas Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 146.484%;
  letter-spacing: 1.6px;
  }

  @mixin typographyButton {
    color: #FFF;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 1.28px;
  }
